* {
    user-select: none; /* disable selection */
}

ody {
    margin: 0;
    padding: 0;
}

#board {
    background-color: black;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#scores {
    color: rgb(0, 200, 0);
    font-family: sans-serif;
    padding: 0 1%;
    position: absolute;
    margin-left: 25vh;
    margin-top: 15vh;
    border: 2px solid rgb(0, 200, 0)
}
#scores p {
    line-height: 0.5em;
}

.lemming {
    /* base class for event listener */
}

.walk {
    background-color: rgb(0, 200, 0);
    position: absolute;
}
.walk img {
    width: 100%;
    height: auto; 
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}
.walk img.flip {
    transform: scaleX(-1);
    -webkit-transform : scaleX(-1);
}

.fall {
    background-color: rgb(200, 200, 0);
    position: absolute;
}
.fall img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.block {
    background-color: rgb(0,0,200);
    position: absolute;
}
.block img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.bomb {
    background-color: red;
    position: absolute;
}
.bomb img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.explosion {
    background-color: red;
    position: absolute;
}
.explosion img {
    width: 200%;
    left: -50%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.splash {
    background-color: red;
    position: absolute;
}
.splash img {
    width: 200%;
    left: -50%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.umbrella2 {
    background-color: rgb(200, 120, 0);
    position: absolute;
}
.umbrella2 img {
    width: 80%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.floor {
    background-color: rgb(240, 240, 100);
    position: absolute;
}

.ground {
    background-color: rgb(240, 240, 100);
    position: absolute;
}

.rock {
    background-color: rgb(200, 180, 150);
    position: absolute;
}

#exit {
    position: absolute;
}
#exit img {
    width: 180%;
    left: -40%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

#hatch {
    top: 10%;
    left: 47.5%;
    height: 5%;
    width: 5%;

    position: absolute;
}
#hatch img {
    width: 150%;
    left: -25%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}

.field {
    position: absolute;
}

.field#column-left {
    left: 0;
    height: 100vh;
}
.field#column-left img {
    height: 100%;
    object-fit: contain;
}

.field#column-right {
    right: -55vh;
    height: 100vh;
}
.field#column-right img {
    height: 100%;
    object-fit: contain;
}

.field#ornament-top-left {
    top: 0;
    left: 30vh;
    height: 8vh;
}
.field#ornament-top-left img {
    height: 100%;
    object-fit: contain;
}

.field#ornament-top-right {
    top: 0;
    right: 20vh;
    height: 8vh;
}
.field#ornament-top-right img {
    height: 100%;
    object-fit: contain;
}

.field#ground {
    bottom: 0;
    left: 15.5vh;
    width: 112vh;
}
.field#ground img {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: contain;
}

#board div {
    z-index: 1;
}
#board .ground {
    z-index: 0;
}

.hardcoded2 {
    left: 20%;
    top: 20%;
    width: 2%;
    height: 2%;
}

.hardcoded2 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    bottom: 0px;
}